.wrapper {
    width: fit-content;
    margin: auto;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url("bg.jpg");
    background-attachment: fixed;
}

.calendar-row::after {
    content: "";
    display: table;
    clear: both;
}

.calendar {
    background-color: white;
    color: rgb(16, 20, 78);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    width: fit-content;
    font-size: 25px;
}

.calendar-header-row {
    width: fit-content;
    color: white;
    background-color: rgb(16, 20, 78);
    margin-top: 10px;
}

.calendar-header-row::after {
    content: "";
    display: table;
    clear: both;
}

.calendar-header-card, .calendar-card {
    float: left;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    margin: 1px;
}

.calendar-table {
    background-color: lightgray;
    box-sizing: border-box;
}

.calendar-row {
    width: fit-content;
    /* background-color: rgb(16, 20, 78); */
}

.calendar-row:hover {
    background-color: gray;
}

.calendar-card {
    border: 3px solid transparent;
    background-color: white;
    cursor: pointer;
    /* border-radius: 20px; */
}

.calendar-card.card-checked {
    background-color: rgb(16, 20, 78);
    color: white;
}

.calendar-card:hover {
    border-color: rgb(16, 20, 78);
}

.calendar-card.empty {
    background-color: lightgrey;
    border-color: transparent;

}

.calendar-input-row::after {
    clear: both;
    content: "";
    display: block;
}

.calendar-label {
    width: 60%;
    text-align: center;
    border-bottom: 3px dotted rgb(16, 20, 78);
}

.calendar-input-row {
    margin-top: 20px;
}

.calendar-input-row .calendar-controller {
    box-sizing: border-box;
    border: 3px solid rgb(16, 20, 78);
    height: 35px;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.calendar-input-row .calendar-controller:hover {
    background-color: rgb(16, 20, 78);
    color: white;
}

.right {
    float: right;
}

.left {
    float: left;
}
